body{
    background-color: black;
}
.music-container{
    background-color: #ffc0cb;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    max-width: 70%;
    margin: 40px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 5px solid white;
    justify-content: center;
    margin-top: 100px;
}
.music-container h3 {
    color: #d11d5d;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.music-container iframe {
    border-radius: 10px;
    width: 100%;
    max-width: 560px;
    
}